.block_page_auth{
    display:flex;
    align-items: center;
    justify-content: center;
    /* стили для картинки на заднем фоне */
    background-image: url("../../../images/trainy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
}

.card_block{
    width: 300px;
    height: auto;
    margin: 15px;
}
.Auth_button{
    width: 100%;
    margin: 5px;
}
.Auth_Caps_text{

    color: red;
}