.custom-tabs .nav-link {
  color: #1c3572;
  background-color: white;
  border: 1px solid #1c3572;
  font-size: 19px;
  /* margin-right: 5px; */
}

.custom-tabs .nav-link.active {
  color: white !important;
  background-color: #1c3572 !important;
  border: 1px solid #1c3572 !important;
}

.custom-tabs .nav-link:hover {
  border: 1px solid #1c3572;
}